
<div class="tile">
<% if ( question_number != 0  ) { %>
    <h3 class="tile-title"><%= course_name %></h3>
    <p>共<span class="number"> <%= question_number%> </span>题</p> 
    <a class="btn btn-primary btn-large btn-block" href="#/course/<%= course_id %>">马上开始</a>

<%}else{%>

    <% if ( score!= -1) { %>
        <h3 class="tile-title"><%= paper_name %></h3>
        <p class="number">试卷类型: <%= paper_type%></p>
        <p class="number">完成时间: <%if (!complete_time || complete_time !=''){%><%= complete_time %><%}else{%>未完成<%}%></p>
        <p class="number">得分: <%if (score > -1){%><%= score %><%}else{%>未完成<%}%></p>
        <a class="btn btn-primary btn-large btn-block" href="#/student_paper_score/<%= paper_id %>">查看详情</a>      
    <%}else{%>
        <h3 class="tile-title"><%= paper_name %></h3>
        <p class = 'detail'><span class="number"> 题量：<%= count%> </span></p> 
        <p class = 'detail'>时间：<span class="number"> <%= need_time%></span> min</p>
        <p class = 'detail'>截止时间：<span class="number"><%if (end_time!=''){ %> <%= end_time %> <%}else{%> 无<%}%></span></p>
        <a class="btn btn-primary btn-large btn-block" href="#/paper/<%= paper_id %>/<%= need_time %>">马上开始</a>
    <%}%>
<%}%>




</div>
