    
<div class="paper_detail">
    <p >试卷名称：<%= paper_name%>  <button class="btn btn-wide btn-success">发布试卷</button></p>
    <p >分数：<%= total_score %></p>

</div>
<div class="question_detail">

<%for(var j = 0 ;j< questions.length; j++){%>

    <p class="question_type"><%= questions[j].question_type %>题  <span class="score">分值：<%= questions[j].question_score %></span></p>
    <p class="question_title"><%= questions[j].title %> </p>
    <% if( questions[j].question_type != "简答" &&  questions[j].question_type != "填空"){ %>
        <% if( questions[j].question_type =='判断' ){ %>
            <pre>对</pre>
            <pre>错</pre>
        <%}else{%>
            <% for (var i = 0; i < questions[j].choice.length; i++){ %>
                <% if(i == 0){%> <pre>a:<%- questions[j].choice[i] %></pre><%}%> 
                <% if(i == 1){%> <pre>b:<%- questions[j].choice[i] %></pre><%}%> 
                <% if(i == 2){%> <pre>c:<%- questions[j].choice[i] %></pre><%}%> 
                <% if(i == 3){%> <pre>d:<%- questions[j].choice[i] %></pre><%}%> 
                <% if(i == 4){%> <pre>e:<%- questions[j].choice[i] %></pre><%}%>
                <% if(i == 5){%> <pre>f:<%- questions[j].choice[i] %></pre><%}%> 
                <% if(i == 6){%> <pre>g:<%- questions[j].choice[i] %></pre><%}%> 
            <%}%>
        <%}%>

    <%}%>
    
    <% if( questions[j].question_type =='简答' ){ %>
        <p class="question_type">正确答案:</p>
        <p><%=questions[j].answer%></p>
    <%}%> 
    <% if( questions[j].question_type =='填空' ){ %>
        <p class="question_type">正确答案:<%=questions[j].answer%></p>
    <%}%> 
<%}%>

</div>