 <table id="table"class="project-table table-striped"data-toggle="table" data-search="true">
    <thead>
        <th>添加<input type="checkbox" class="checkbox checkbox-inline checkAll"></input></th>
        <th>题目</th>
        <th>题目类型</th>
        <th>答案</th>
        <th>知识点</th>
        <th>难度</th>
    </thead>
    <tbody>
    <%for(var i = 0;i<questionData.length;i++){%>
        <tr>
            <td><input type="checkbox" class="checkbox checkOne" data-id= <%= i%>/></td>
            <td class="title"><%= questionData[i].title%></td>
            <td><%= questionData[i].question_type%></td>
            <td><%= questionData[i].answer%></td>
            <td><%= questionData[i].knowledge_point%></td>
            <td><%= questionData[i].difficulty_level%></td>
        </tr>
    <%}%>
    </tbody>
</table>