<form>
    <p class="question_type"><%= question_type %>题  <span class="score">分值：<%= question_score %></span></p>
    <input style="display: none" value="<%= paper_id %>">

    <p class="question_title"><%= order_id %>. <%= question_name %> </p>
    
    <% if( question_type != "简答" &&  question_type != "填空"){ %>

        <% for (var i = 0; i < choice.length; i++){ %>
            <% if( question_type =='多选' ){ %>
                <pre><input type="checkbox" name="<%= question_id %>" value="<%= i %>" /> <%- choice[i] %></pre>
            <%}else{%>
                <pre><input type="radio" name="<%= question_id %>" value="<%= i %>" /> <%- choice[i] %></pre>
            <%}%>
        <%}%>

    <%}else{ %>

        <% if( question_type =='简答' ){ %>
            <textarea class="answer_textarea"></textarea>
        <%}%> 

        <% if( question_type =='填空' ){ %>
            <input type="text"></input>
        <%}%> 

    <%}%>      
</form>

  