    
<div class="paper_detail">
    <p>题目：<%= correctQuestion.question.question_name%> </p>
    <p >分值：<%= correctQuestion.question.question_score %></p>

</div>
<div class="question_detail">
    <form class="form-horizontal " role="form">
    <%for(var j = 0 ;j< correctQuestion.student_answer.length; j++){%>
        <div class="form-group">
            <p><%=correctQuestion.student_answer[j].answer%></p>
            <label for="<%=correctQuestion.student_answer[j].stunden_id %>" class="col-lg-2 control-label">给分：</label>
              <div class="col-lg-4">
                <input type="number" class="form-control" name="<%=correctQuestion.student_answer[j].stunden_id %>">
              </div>
        </div>
    <%}%>
    </form>
</div>